<div class="signup-form">
    <%= form_with model: @user, url: settings_update_path do |f| %>
        <div class="row">
            <div class="text-center">
                <h2>Change Username</h2>
            </div>
        </div>
        <div class="form-group mb-3">
            <%= f.label :username, 'Username', class: 'col-form-label col-4' %>
            <%= f.text_field :username, class: 'form-control', required: true %>
        </div>
        <div class="form-group mb-3 text-center">
            <%= f.submit 'Update', class: 'btn btn-primary btn-lg w-50' %>
        </div>
    <% end %>
</div>